.jtronTxt {
 margin-top: 80px;

}

.trails {
	box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.50);
	width: 68%;
	margin: 0 auto;

}
.trails {
	div:first-child {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}

.trail {
	color: #fff;
	font-size: 1.25em;
	background: #F2F2F2;
	padding: 20px;
	border-bottom: 1px solid #aaa;
	button{
		background-color:#5FC67A;
		border: 1px solid #5FC67A;
		color: white;
		margin-top: 50px;
	}
}
.results-title{
	font-size: 18px!important;
	font-style: italic;
}

.rating {
	 color:rgba(165, 165, 165, 0.94);
	 margin: 0;
	 padding: 0;
}
ul.rating {
	 display: inline-block;
}
.rating li {
	 list-style-type: none;
	 display: inline-block;
	 padding: 1px;
	 text-align: center;
	 font-weight: bold;
	 cursor: pointer;
}
.rating .filled {
	 color: #5FC67A;
 ;
}

.myFavContainer {
	position: absolute;
	z-index: 20;
	padding-right: 100px;
	top: 150px;
}

.trailsHH {
	color: white;
	font-family: 'rissa';
	font-size: 13rem;
	text-align: center;

}


